In [1]:
import pyarrow

In [2]:
# Import the libraries we will need
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# %matplotlib inline

import findspark
findspark.init()

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import StringType
import pyspark.pandas as ps

# create the Spark Session
spark = SparkSession.builder.appName("MySparkApp").getOrCreate()

# # create the Spark Context
# sc = spark.sparkContext

c:\Users\Wenhao\miniconda3\lib\site-packages\pyspark\pandas\__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [2]:
# friend = spark.read.csv("hw1-bundle/hw1-bundle/q1/data/soc-LiveJournal1Adj.txt", sep='\t')
# friend = friend.select(col("_c0").alias("User"), col("_c1").alias("Friends"))
# friend = friend.withColumn('Friends', split('Friends', ','))
# friend.show(5)

In [7]:
friend = spark.read.csv("hw1-bundle/hw1-bundle/q1/data/soc-LiveJournal1Adj.txt", sep='\t')
friend = friend.pandas_api()
friend = friend.rename({'_c0': 'User', '_c1': 'Friends'}, axis = 1)
friend['User'] = friend['User'].astype(int)
friend['Friends'] = friend['Friends'].apply(lambda x: set([]) if (x is None) else set(x.split(','))) # split the index of friends into list

# friend.head()

no_friend = friend[friend['Friends'].apply(len) == 0].rename({'Friends': 'Recommendations'}, axis = 1) # filter users who have no friend
no_friend['Recommendations'] = no_friend['Recommendations'].apply(lambda x: list(x))

friend = friend[friend['Friends'].apply(len) > 0] # filter users who have at least one friend
friend = friend.iloc[:100] # FIX ME: SUBSAMPLING
friend

     User                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Friends
0       0                                                                                                                                                                                                                                                                                                                                [18, 14, 17, 34, 50, 8, 22, 37, 46, 38, 72, 77, 48, 68, 55, 84, 13, 41, 43, 82, 53, 29, 54, 49, 61, 39, 90, 12, 31, 63, 87, 15, 30, 88, 67, 73, 16, 56, 57, 3, 71, 6, 93, 92, 47, 7, 83, 26, 59, 28, 89, 23, 9, 42, 25, 66, 21, 40, 80, 78, 27, 91, 10, 62, 5, 79, 36, 11, 19, 58, 60, 51, 94, 4, 85, 69, 81, 24, 2, 44, 74, 86, 64, 70, 45, 32, 1, 35, 75, 52, 65, 20, 33, 76]
1       1                                                                                                                                                                                                                                                [13845, 35648, 49985, 10623, 30691, 32317, 44846, 43447, 31232, 135, 20075, 34250, 34280, 31435, 4999, 35633, 23520, 30257, 34394, 15190, 32489, 38737, 49226, 2409, 629, 29726, 34651, 45054, 14248, 29826, 19217, 12347, 29767, 8715, 49592, 35589, 21556, 6156, 5, 34392, 35606, 29791, 0, 8932, 33060, 35605, 35678, 20074, 34406, 34418, 12846, 13840, 34439, 34450, 22939, 13912, 17636, 34420, 623, 29481, 20, 28193, 14005, 44887, 29724, 35613, 27536]
2       2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          [16659, 6893, 41878, 117, 2755, 0, 24714, 1220, 135, 12453, 13795, 24539, 49927, 45046, 41456, 32828]
3       3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              [12636, 41, 0, 1532, 38737, 12, 27552, 55, 13185]
4       4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          [18, 14, 42697, 8, 74, 19068, 72, 77, 80, 24596, 27, 38792, 33269, 0, 46126, 15326, 38822, 15, 19079]
5       5                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  [43262, 23527, 0, 41457, 32503, 44846, 31140, 32828, 1, 2022, 35633, 49574, 20, 30257, 22939]
6       6                                                                                                                                                                                                                                                                                                                                                                                                                                                                              [2203, 33080, 9847, 35785, 543, 15294, 575, 25247, 18332, 21, 12682, 5040, 34412, 42231, 18560, 15283, 35699, 38736, 35822, 9843, 0, 20553, 17874, 8795, 3238, 98, 18625, 38750, 11879, 18311, 38800, 18286, 18320, 35776, 14943]
7       7                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          [0, 40218, 21843, 31993, 1357, 40433]
8       8                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       [72, 0, 33380, 83, 4, 85, 46, 38, 24777]
9       9                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        [18972, 0, 6085, 19269]
10     10                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                [30, 44310, 35477, 0, 29581, 12, 23557, 16, 13793, 6027, 35617]
11     11                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        [27554, 29576, 11142, 1754, 27585, 27591, 34906, 32631, 0, 7789, 12633, 41444, 17898, 22486, 26970, 27679, 6027, 19049]
12     12                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              [30, 1085, 43121, 16, 38, 3, 1532, 38737, 27655, 27679, 55, 10, 41, 13285, 0, 7714, 35195, 83, 29, 29379, 89, 85]
13     13                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       [19051, 37, 32064, 1600, 33439, 39022, 47887, 27, 16519, 35589, 1383, 9172, 44412, 0, 18122, 23525, 25177, 12584, 2141, 13207, 30071, 129, 7284, 32045, 111, 44575, 274]
14     14                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           [42697, 42748, 0, 4, 444, 19, 19079]
15     15                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 [4, 0, 80, 27]
16     16                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              [10, 18, 30, 29319, 35477, 0, 19010, 53, 83, 9745, 19044, 12, 30062, 31337, 15520, 38, 12570, 89]
17     17                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       [128, 29872, 20599, 20533, 134, 95, 49678, 6157, 42704, 0, 53, 20016, 44505, 26, 28, 12570, 19, 31347, 7284, 31337, 150]
18     18                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          [30, 12562, 0, 2406, 4, 16, 2411, 89]
19     19                                                 [17, 14, 5685, 50, 19427, 19358, 22357, 543, 25239, 3931, 13076, 627, 18163, 0, 19430, 2646, 26887, 1343, 10175, 1001, 15186, 3748, 3895, 4993, 5490, 18148, 8768, 20283, 14070, 20070, 2678, 1234, 11399, 2019, 29260, 1100, 8703, 18977, 6995, 3574, 17438, 1705, 439, 11416, 18147, 3573, 12680, 3926, 18075, 3734, 22520, 17235, 4990, 9892, 14160, 2062, 21873, 5170, 1694, 2413, 47445, 14182, 13951, 8706, 20290, 2648, 13829, 23202, 23512, 19983, 2324, 35585, 12313, 5588, 21822, 2659, 25256, 9735, 16027, 20557, 49678, 3131, 2644, 19388, 15356, 5487, 13661, 27736, 44824, 18338, 7463, 27808, 7718, 623, 9289, 25195, 13849, 3298, 2142, 10240]
20     20                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         [5, 34394, 29791, 0, 30691, 35589, 1, 31232, 12846, 49574, 28193, 44887, 29724, 22939]
21     21                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          [2426, 20379, 17032, 0, 33760, 38841, 4717, 2432, 17025, 63, 17033, 24733, 6, 91, 52]
22     22                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    [0, 29, 30156, 43400, 9436]
23     23                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            [0]
24     24                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   [23061, 46644, 0, 53, 38774, 28, 83, 85, 38]
25     25                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            [0]
26     26                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     [17, 0, 19051, 18071, 242]

In [10]:
friend['User'].unique().values

c:\Users\Wenhao\miniconda3\lib\site-packages\pyspark\pandas\generic.py:647: UserWarning: We recommend using `Series.to_numpy()` instead.
  warnings.warn("We recommend using `{}.to_numpy()` instead.".format(type(self).__name__))
c:\Users\Wenhao\miniconda3\lib\site-packages\pyspark\pandas\utils.py:1016: PandasAPIOnSparkAdviceWarning: `to_numpy` loads all data into the driver's memory. It should only be used if the resulting NumPy ndarray is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

array([    0,     1,     2,     3,     4,     5,     6,     7,     8,
           9,    10,    11,    12,    13,    14,    15,    16,    17,
          18,    19,    20,    21,    22,    23,    24,    25,    26,
          27,    28,    29,    30,    31,    32,    33,    34,    35,
          36,    37,    38,    39,    40,    41,    42,    43,    44,
          45,    46,   135,  2409,  8715,  8932, 10623, 12347, 12846,
       13840, 13845, 14005, 20075, 21556, 22939, 23520, 28193, 29724,
       29791, 29826, 30691, 31232, 31435, 32317, 32489, 34394, 35589,
       35605, 35606, 35613, 35633, 35648, 35678, 38737, 43447, 44846,
       44887, 49226, 49985,   117,  1220,  2755, 12453, 24539, 24714,
       41456, 45046, 49927,    55,  1532, 12636, 13185, 27552,    72,
          80])

In [12]:
all_user_id = set(friend['User'].unique().to_numpy())
unfriend = friend.copy()
unfriend['Unfriends'] = friend['Friends'].apply(lambda x: all_user_id - set(x))
unfriend = unfriend.drop('Friends', axis=1)
unfriend = unfriend.explode('Unfriends')
unfriend['Unfriends'] = unfriend['Unfriends'].astype(int)
unfriend['Mutual Friends'] = unfriend.apply(lambda row: 
                                            (friend[friend['User'] == row['User']]['Friends'].iloc[0]) & 
                                            (friend[friend['User'] == row['Unfriends']]['Friends'].iloc[0]), axis=1)
unfriend['Num of Mutual Friends'] = unfriend['Mutual Friends'].apply(len)
unfriend.head()

c:\Users\Wenhao\miniconda3\lib\site-packages\pyspark\pandas\utils.py:1016: PandasAPIOnSparkAdviceWarning: `to_numpy` loads all data into the driver's memory. It should only be used if the resulting NumPy ndarray is expected to be small.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

PySparkTypeError: [CANNOT_ACCEPT_OBJECT_IN_TYPE] `IntegerType()` can not accept object `0` in type `int32`.

In [5]:
mutual_friend = unfriend.sort_values(['User', 'Num of Mutual Friends', 'Unfriends'], ascending = False).groupby('User').head(10)
mutual_friend.head(20)

,User,Unfriends,Mutual Friends,Num of Mutual Friends
83,49985,49985,"{19138, 44854, 30313, 42003, 41423, 33072, 385...",55
83,49985,35678,"{35621, 1, 23690, 21556, 35630, 14112, 25228, ...",8
83,49985,35633,"{35621, 1, 21556, 35562, 35630, 34406, 41433, ...",8
83,49985,35613,"{35621, 1, 23690, 21556, 38737, 33072, 35630, ...",8
83,49985,35605,"{35621, 1, 35562, 35630, 25228, 49917}",6
83,49985,23520,"{35621, 35565, 1, 19138, 27536, 41433}",6
83,49985,21556,"{35621, 1, 23690, 49546, 35630, 25228}",6
83,49985,20075,"{35621, 21556, 1, 35630, 25228}",5
83,49985,1,"{27536, 21556, 31232, 38737, 34406}",5
83,49985,49226,"{35621, 27536, 1, 35630}",4
92,49927,49927,"{26954, 24642, 49987, 2755, 49899, 49961, 4994...",27
92,49927,135,"{41087, 2}",2
92,49927,117,"{41087, 2}",2
92,49927,45046,{2},1
92,49927,41456,{2},1
92,49927,35589,{128},1
92,49927,24714,{2},1
92,49927,24539,{2},1
92,49927,12453,{2},1
92,49927,2755,{2},1

In [6]:
recommendation = mutual_friend.groupby('User')['Unfriends'].agg(lambda x: x.to_list()).reset_index().rename({'Unfriends': 'Recommendations'}, axis = 1)
recommendation

     User                                    Recommendations
0       0           [0, 12, 4, 38, 16, 28, 8, 38737, 30, 24]
1       1  [1, 20, 35633, 35613, 21556, 35678, 35606, 200...
2       2  [2, 5, 1, 49927, 23520, 13845, 8715, 2755, 122...
3       3        [3, 41, 12, 0, 38737, 1532, 55, 38, 30, 29]
4       4             [4, 0, 15, 14, 80, 72, 46, 38, 30, 27]
..    ...                                                ...
95  44887  [44887, 31232, 12846, 1, 44846, 34394, 29724, ...
96  45046  [45046, 49927, 41456, 24714, 24539, 12453, 275...
97  49226  [49226, 35613, 35605, 35678, 35633, 20075, 215...
98  49927  [49927, 135, 117, 45046, 41456, 35589, 24714, ...
99  49985  [49985, 35678, 35633, 35613, 35605, 23520, 215...

[100 rows x 2 columns]

In [9]:
ps.concat([final, no_friend], ignore_index=True)

TypeError: cannot concatenate object of type 'list; only ps.Series and ps.DataFrame are valid

In [7]:
final = ps.merge(friend, recommendation, on = 'User')
final = final.drop('Friends', axis = 1)
final = ps.concat([final, no_friend], ignore_index=True).sort_values('User', ascending=True)

TypeError: cannot concatenate object of type 'list; only ps.Series and ps.DataFrame are valid